### Exploratory Data Analysis: Ask A Manager Salary 2019 Dataset

##### Load Libraries & Data

In [1]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import re

In [2]:
# data loaded from intermediate folder. Raw data has been pre-processed
aam_salary_int = pd.read_csv('../data/02_intermediate/aam_sal_inter.csv')

##### Explore the shape of the dataset

In [3]:
aam_salary_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30995 entries, 0 to 30994
Data columns (total 10 columns):
timestamp         30995 non-null object
age               30995 non-null object
industry          30171 non-null object
job_title         30993 non-null object
annual_salary     30977 non-null float64
currency          30995 non-null object
location          29500 non-null object
work_years        30995 non-null object
notes             7004 non-null object
other_currency    236 non-null object
dtypes: float64(1), object(9)
memory usage: 2.4+ MB

In [4]:
# "other_currency" column mostly null values. Drop column. 
aam_salary_int.drop(columns=['other_currency'], inplace=True)

In [5]:
# ~ 27K entries in USD. Let's look at only the USD dataset
aam_salary_int.currency.value_counts()

USD        27326
CAD         1474
GBP          887
AUD/NZD      617
EUR          429
Other        148
JPY           33
CHF           32
SEK           25
ZAR           12
HKD           12
Name: currency, dtype: int64

In [6]:
aam_salary_usd = aam_salary_int.loc[aam_salary_int['currency'] == 'USD']

In [7]:
# a number of 0, high and nan values have been discovered
aam_salary_usd.sort_values(by=['annual_salary'])

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes
16447,2019-04-26 19:01:54,25-34,Industrial,Owner,0.0,USD,Youngstown/OHIO/USA,8 - 10 years,Sales
24316,2019-04-30 11:28:25,under 18,stay at home industry,full time daughter,0.0,USD,NaN,1 year or less,NaN
24727,2019-04-30 15:33:53,55-64,None,Unemployed,0.0,USD,"Brunswick, GA, USA",21 - 30 years,NaN
25546,2019-05-01 07:59:55,55-64,NaN,Retired,0.0,USD,"St. Louiz, MO",31 - 40 years,NaN
15287,2019-04-26 16:17:19,35-44,Homeschool mom,Owner,0.0,USD,NaN,8 - 10 years,NaN
20782,2019-04-29 01:30:38,35-44,Parenting,Mom,0.0,USD,Sequim Washington United States,1 year or less,NaN
20725,2019-04-28 23:31:52,25-34,Care giver,Mom,0.0,USD,"Denver, colorado",2 - 4 years,NaN
27209,2019-05-10 13:08:08,45-54,IT Hardware Sales,Sales Represntative,0.0,USD,Charlotte NC,21 - 30 years,NaN
27529,2019-05-10 13:54:20,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
27534,2019-05-10 13:54:55,35-44,NaN,Stay at home mom,0.0,USD,NJ,8 - 10 years,NaN
15674,2019-04-26 17:10:34,35-44,Unemployed,Stay at home parent,0.0,USD,"San Rafael, CA",11 - 20 years,NaN
28434,2019-05-10 18:40:49,55-64,Unemployed,Manager,0.0,USD,"Plano, Tx, USA",11 - 20 years,NaN
18757,2019-04-27 07:51:22,25-34,Legal,Intern,0.0,USD,NaN,2 - 4 years,NaN
12313,2019-04-25 14:13:54,45-54,IT,Program Manager,0.0,USD,NaN,31 - 40 years,NaN
28757,2019-05-11 06:30:45,35-44,Child care,Stay at home Dad,0.0,USD,Grand Rapids/MI/USA,8 - 10 years,NaN
18463,2019-04-27 02:48:56,35-44,Healthcare,RN,0.0,USD,Iowa,2 - 4 years,NaN
12146,2019-04-25 12:47:10,25-34,Unemployed,Unemployed,0.0,USD,USA,5-7 years,NaN
17423,2019-04-26 22:03:19,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
16456,2019-04-26 19:02:58,25-34,Construction,Sales,0.0,USD,NaN,8 - 10 years,Owner
16464,2019-04-26 19:04:00,25-34,Industrial,Owner,0.0,USD,NaN,8 - 10 years,Sales
16869,2019-04-26 20:06:46,45-54,NaN,Test,0.0,USD,NaN,11 - 20 years,NaN
17412,2019-04-26 22:00:32,45-54,Unemployed,Unemployed,0.0,USD,NaN,11 - 20 years,NaN
18235,2019-04-27 01:25:34,65 or over,Retired,Retired,0.0,USD,"Gardnerville, NV",31 - 40 years,NaN
1357,2019-04-24 12:11:42,35-44,none,none,0.0,USD,NaN,1 year or less,NaN
23173,2019-04-29 18:12:27,45-54,None,none,0.0,USD,Miami FL USA,21 - 30 years,NaN
17777,2019-04-26 23:27:31,18-24,Student,Student,0.0,USD,Waco,1 year or less,Don’t make none
16135,2019-04-26 18:11:53,45-54,NaN,none,0.0,USD,NaN,21 - 30 years,NaN
1739,2019-04-24 12:20:43,25-34,Student,Student,0.0,USD,Pasadena California,2 - 4 years,NaN
16970,2019-04-26 20:29:02,25-34,NaN,A,1.0,USD,NaN,1 year or less,NaN
18490,2019-04-27 03:07:03,35-44,NaN,Nn,1.0,USD,NaN,5-7 years,NaN
...,...,...,...,...,...,...,...,...,...
17589,2019-04-26 22:41:14,under 18,Garbage collection,Garbage collector,2000007.0,USD,Boston ma,2 - 4 years,NaN
15792,2019-04-26 17:26:21,45-54,Financial Services,Partner,2120000.0,USD,"San Jose, CA, USA",21 - 30 years,NaN
28186,2019-05-10 16:47:51,25-34,Software,Partner,2500000.0,USD,Los Angeles,11 - 20 years,NaN
28775,2019-05-11 07:27:39,55-64,Healthcare,CEO,2645000.0,USD,New York,21 - 30 years,Business Founder
17833,2019-04-26 23:42:15,45-54,Self employed,Founder,3334000.0,USD,Seattle,1 year or less,NaN
6484,2019-04-25 00:39:56,35-44,Administrative,Office Manager,3500032.0,USD,"Sacramento, CA United States",11 - 20 years,Bookkeeping
28465,2019-05-10 19:02:03,45-54,Law,Partner,3750000.0,USD,"New York, NY",21 - 30 years,NaN
7725,2019-04-24 15:07:09,25-34,Nonprofit,Communications Coordinator,4774050.0,USD,NaN,5-7 years,NaN
28490,2019-05-10 19:22:53,45-54,Law,Partner,5800000.0,USD,New York City,21 - 30 years,NaN
3818,2019-04-24 13:35:24,45-54,Healthcare,RN,8000036.0,USD,Philadelphia,21 - 30 years,Home care RN or visiting RN
24832,2019-04-30 16:51:09,55-64,porn,chief jizzer,10000000.0,USD,your face,1 year or less,NaN
23777,2019-04-30 05:56:00,65 or over,Consumer Software & Hardware,CEO,15682219.0,USD,"Cupertino, California, USA",41 years or more,Chief Executive Officer at Apple
9136,2019-04-24 17:35:55,25-34,TEFL,Native Speaking English Teacher,27600000.0,USD,"Seoul, South Korea",2 - 4 years,NaN
13559,2019-04-26 12:55:21,45-54,Medical Device Manufacturing,End User Computing Administrator,82000000.0,USD,Chicago/IL/USA,11 - 20 years,NaN
2070,2019-04-24 12:28:59,25-34,TV production,Production Assistant,NaN,USD,NYC/NY/USA,2 - 4 years,A freelance/by-project basis. On set; narrativ...
3543,2019-04-24 13:23:30,45-54,Retail,Retail Associate,NaN,USD,USA,11 - 20 years,NaN
6031,2019-04-25 00:32:13,55-64,Property management,Resident manager,NaN,USD,"San Francisco, CA",31 - 40 years,NaN
8139,2019-04-24 15:42:45,35-44,Law,Attorney,NaN,USD,"San Francisco Bay Area, CA",11 - 20 years,I am a contract attorney who does e-discovery ...
10742,2019-04-24 23:21:16,25-34,Art/entertainment,Face/body painter,NaN,USD,"Chapel hill, nc, usa",5-7 years,NaN
16171,2019-04-26 18:17:13,65 or over,unemployed,anticipator,NaN,USD,Chicagoland,31 - 40 years,looking for work
17054,2019-04-26 20:47:51,35-44,NaN,"Food and beverage manager, retired",NaN,USD,"Portland, OR, USA",5-7 years,NaN
17918,2019-04-27 00:06:40,18-24,NaN,B,NaN,USD,NaN,11 - 20 years,NaN
19645,2019-04-27 18:14:03,under 18,NaN,G,NaN,USD,NaN,1 year or less,NaN
23014,2019-04-29 17:33:40,under 18,NaN,Golf Mower,NaN,USD,NaN,1 year or less,NaN
25548,2019-05-01 08:01:37,25-34,AVIATION,TEST,NaN,USD,TEST,5-7 years,TEST
27076,2019-05-10 12:38:38,18-24,Holy,Jizz's God,NaN,USD,NaN,1 year or less,Corporate energy efficiency engineer: look aft...
28471,2019-05-10 19:07:33,45-54,NaN,Director,NaN,USD,"Bay Area, CA",11 - 20 years,NaN
30207,2019-05-27 08:52:36,35-44,Disabled,Welder,NaN,USD,Louisville ky USA,1 year or less,NaN
30388,2019-05-28 17:45:17,25-34,Nonprofit,Development Coordinator,NaN,USD,"Missoula, MT, USA",2 - 4 years,NaN
30816,2019-06-21 11:38:51,35-44,Air and space law,JD student,NaN,USD,Senatobia/MS/USA,1 year or less,I am currently in law school

In [8]:
# number of nan values in annual_salary column
aam_salary_usd.annual_salary.isnull().sum()

16

In [10]:
# number and print out of salary less than or equal to 10000 in the annual_salary column
print(len(aam_salary_usd.loc[aam_salary_int['annual_salary']<=10000]))
aam_salary_usd.loc[aam_salary_int['annual_salary']<=10000]

541

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes
111,2019-04-24 11:45:10,45-54,Social Work,Lead Facilitator,35.0,USD,"Denison, TX USA",21 - 30 years,NaN
118,2019-04-24 11:45:16,35-44,Civil Service,Human Service Specialist 4,59.0,USD,Jersey City/New Jersey/USA,11 - 20 years,"Supervisor, first level of manangement."
136,2019-04-24 11:45:33,35-44,Veterinary medicine,Veterinary technician,18.0,USD,"Pittsburgh, Pa, USA",11 - 20 years,Specialty medicine within a referral hospital
157,2019-04-24 11:46:04,25-34,Manufacturing,Human Resources Generalist/Payroll Admin,60.0,USD,"Tampa, FL",5-7 years,"Additional hats as required for safety, minist..."
191,2019-04-24 11:46:42,55-64,Consulting,Vice President,175.0,USD,"Philadelphia, PA",31 - 40 years,NaN
226,2019-04-24 11:47:20,25-34,public library,adult services manager,6500.0,USD,"chicago, il",8 - 10 years,NaN
239,2019-04-24 11:47:40,65 or over,IT,Web developer,68.0,USD,Los Angeles CA,41 years or more,NaN
244,2019-04-24 11:47:46,35-44,Museum Exhibit Design,Dir Exhibit Experience,90.0,USD,"Queens, NY",11 - 20 years,NaN
258,2019-04-24 11:47:54,25-34,Non profit legal services,Social worker,65.0,USD,Nyc,8 - 10 years,NaN
302,2019-04-24 11:48:55,55-64,Publishing,Designer,40.0,USD,"Oklahoma City, OK",31 - 40 years,NaN
306,2019-04-24 11:48:58,35-44,BioTech,Sr. Associate Training & Development,80.0,USD,"Los Angles, CA, USA",11 - 20 years,NaN
357,2019-04-24 11:49:41,55-64,Retail,Hardware Department Manager,10.0,USD,"Peru, IL USA",31 - 40 years,There's only one full-time employee in each de...
417,2019-04-24 11:50:55,25-34,Childcare (corporate office though),Engagement Coordinator,22.0,USD,Boston area,2 - 4 years,basically an office manager/in-office event pl...
420,2019-04-24 11:50:56,25-34,Nonprofit Consulting,Director,128.0,USD,Washington DC,8 - 10 years,NaN
467,2019-04-24 11:51:52,35-44,Biotech,QA Specialist,75.0,USD,"Gaithersburg, MD",11 - 20 years,NaN
469,2019-04-24 11:51:56,35-44,IT,Senior Engineer,30.0,USD,Eastern Europe,11 - 20 years,computer programmer
484,2019-04-24 11:52:20,35-44,Financial,Financial Reporting & Consolidations Mgr,105.0,USD,Raleigh NC US,11 - 20 years,NaN
498,2019-04-24 11:52:34,35-44,Legal,Paralegal,60.0,USD,"Chicago, IL",11 - 20 years,NaN
501,2019-04-24 11:52:36,35-44,Hospitality,Director of sales,35.0,USD,Southern USA,5-7 years,NaN
555,2019-04-24 11:53:40,35-44,Advertising/sales-LGBTQ focused,Operations/Production Manager,50.0,USD,"Atlanta, GA, USA",11 - 20 years,Formerly production manager for print director...
655,2019-04-24 11:55:46,25-34,Academia,Library Assistant 3,35.0,USD,"Reno, NV, USA",2 - 4 years,Highest tier of lower series in state classifi...
664,2019-04-24 11:55:54,25-34,Public Library,Youth Services Librarian I,47.0,USD,Prince William County VA (right outside DC),2 - 4 years,NaN
673,2019-04-24 11:56:00,25-34,Fitness,Coach,25.0,USD,"Chicago, IL, USA",5-7 years,I work in a CrossFit gym as a part-time coach
696,2019-04-24 11:56:36,45-54,Legal,Paralegal,42.0,USD,Spartanburg/SC/USA,21 - 30 years,Personal injury
776,2019-04-24 11:58:32,18-24,Equine,Horse Trainer,7500.0,USD,"Freeport, Illinois, USA",2 - 4 years,NaN
780,2019-04-24 11:58:36,25-34,education,program specialist,56.0,USD,NaN,8 - 10 years,NaN
835,2019-04-24 11:59:41,35-44,Financial,Financial Reporting & Consolidations Mgr,105.0,USD,Raleigh NC US,11 - 20 years,NaN
867,2019-04-24 12:00:19,35-44,I do news media outreach for a university,Science Communicator,80.0,USD,"College Park, MD",11 - 20 years,NaN
898,2019-04-24 12:00:52,45-54,SURVEYING,GENERAL MANAGER,70.0,USD,"LANSING, MICHIGAN, USA",21 - 30 years,NaN
909,2019-04-24 12:01:07,45-54,Healthcare,Registered nurse,31.0,USD,"North Carolina, USA",21 - 30 years,"ICU, university hospital"
...,...,...,...,...,...,...,...,...,...
28924,2019-05-11 13:09:45,25-34,Healthcare,Registered Nurse,150.0,USD,"Oakland, CA",8 - 10 years,NaN
29148,2019-05-12 14:33:43,25-34,Tech,Associate Software Engineer,103.0,USD,"New York, NY",2 - 4 years,NaN
29227,2019-05-13 00:17:21,18-24,Pharma,Research associate,70.0,USD,NaN,2 - 4 years,NaN
29233,2019-05-13 04:41:12,35-44,media,journalist / reporter,6000.0,USD,Turkey / İstanbul,11 - 20 years,NaN
29234,2019-05-13 04:45:05,35-44,NaN,journalist / reporter,6000.0,USD,NaN,11 - 20 years,NaN
29463,2019-05-13 18:31:57,55-64,luxury goods,exec assistant,89.0,USD,new york/new york/ USA,31 - 40 years,NaN
29608,2019-05-15 02:09:24,18-24,UN agency,Intern,8136.0,USD,Rome,1 year or less,NaN
29660,2019-05-16 05:27:35,45-54,higher education,professor,150.0,USD,New York,21 - 30 years,NaN
29687,2019-05-16 12:01:11,18-24,Television,Segment Producer,1600.0,USD,NYC,2 - 4 years,NaN
29726,2019-05-17 15:44:37,25-34,Customer service,Digital experience specialist,36.0,USD,"Minneapolis, MN - USA",8 - 10 years,"Basically, I handle online sales as well as tr..."
29777,2019-05-19 10:36:53,18-24,Hospital,Medical Laboratory Technologist,1000.0,USD,"Dhaka, Bangladesh",1 year or less,NaN
29852,2019-05-20 17:39:51,35-44,Pharmaceutical Advertising,Associate/Creative Director (Copy),110.0,USD,New York City,11 - 20 years,I'm a freelancer so I get paid hourly.
29924,2019-05-21 13:29:13,55-64,Healthcare,Business Development,85.0,USD,Oregon,21 - 30 years,NaN
30053,2019-05-23 12:39:50,35-44,Retail Gocery,Superviso,2240.0,USD,"Republic, Wa, Usa",11 - 20 years,NaN
30067,2019-05-23 18:30:59,25-34,Equipment,Parts advisor,50.0,USD,West palm beach Florida United states,2 - 4 years,NaN
30100,2019-05-24 10:46:13,35-44,Telecommuications,Project Manager,40.0,USD,Michigan,8 - 10 years,NaN
30133,2019-05-25 08:44:28,35-44,Defense Industry,Business Development Manager,160.0,USD,NaN,11 - 20 years,NaN
30224,2019-05-27 10:52:06,55-64,Higher Ed,IT Support Manager,48.0,USD,NC,11 - 20 years,NaN
30239,2019-05-27 12:43:48,55-64,tech,sys admin,70.0,USD,baltimore maryland usa,11 - 20 years,NaN
30311,2019-05-28 00:56:21,55-64,Cnnstruction,Superintendent,80.0,USD,"New Mexico, USA",41 years or more,NaN
30356,2019-05-28 15:01:05,18-24,NaN,Business analyst/HR,64.0,USD,Lakewood/NJ/USA,5-7 years,I do two very different jobs for my company
30446,2019-05-29 12:59:12,18-24,Journalism / Media,Editorial writer,36.0,USD,"Salt Lake City, Utah, USA",2 - 4 years,NaN
30502,2019-05-30 20:17:43,25-34,Software,"Manager, Engineering",165.0,USD,"San Francisco, CA, USA",8 - 10 years,NaN
30551,2019-06-01 16:58:08,55-64,Dentistry,Dental consultant,132.0,USD,Sacramento ca,21 - 30 years,NaN
30792,2019-06-21 08:13:35,25-34,Education,Psychologist,95.0,USD,New York city,2 - 4 years,NaN
30793,2019-06-21 08:16:31,25-34,Education,Psychologist,95.0,USD,"NY,NY",2 - 4 years,NaN
30835,2019-06-22 13:25:12,25-34,Healthcare,Bsn rn,42.0,USD,"Phoenix, Arizona",2 - 4 years,Company wide float nurse
30916,2019-07-01 16:27:03,18-24,Computer Software,People & Operations Specialist,60.0,USD,"Atlanta, GA, USA",1 year or less,NaN
30944,2019-07-05 02:20:48,25-34,Components,Program Manager,40.0,USD,NaN,8 - 10 years,NaN
30972,2019-07-09 13:29:37,25-34,Church Work,Director of Communications,8000.0,USD,"Atlanta, GA",5-7 years,"There are 3 people who work in the office, and..."

In [11]:
# drop rows where annual_salary <= 1
aam_salary_usd = aam_salary_usd.drop(aam_salary_usd[aam_salary_usd.annual_salary <= 10000].index)

In [12]:
# number of salaries greather than or equal to 1 Million 
print(len(aam_salary_usd.loc[aam_salary_int['annual_salary']>=1000000]))

42

In [13]:
# drop rows where annual salary >= 1 Million 
aam_salary_usd = aam_salary_usd.drop(aam_salary_usd[aam_salary_usd.annual_salary >= 1000000].index)

In [24]:
# drop NaN values from annual_salary column
aam_salary_usd = aam_salary_usd[pd.notnull(aam_salary_usd['annual_salary'])]
len(aam_salary_usd)

26727

In [25]:
aam_salary_usd.sort_values(by=['annual_salary'])

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes
7271,2019-04-24 14:36:02,55-64,Ecommerce,Senior Marketing Manager,10300.0,USD,"Los Angeles, CA USA",11 - 20 years,NaN
21195,2019-04-29 09:09:48,25-34,Transportation,Senior Project Engineer,10400.0,USD,"Fairfax, Virginia",8 - 10 years,NaN
19740,2019-04-27 19:37:58,25-34,Tech,Engineer,10500.0,USD,"New York, ny, usa",5-7 years,NaN
14519,2019-04-26 14:23:18,45-54,Sales distribution,Sales rep,10500.0,USD,Kansas City/MO/USA,21 - 30 years,NaN
2881,2019-04-24 12:56:58,25-34,Public Library,Library Assistant,10600.0,USD,Alabama,2 - 4 years,Part-time
10566,2019-04-24 22:33:10,45-54,Telecom,Sr Manager Project Management,10700.0,USD,Richardson TX,11 - 20 years,NaN
14096,2019-04-26 13:44:07,45-54,Automotive Manufacturer,Senior District Sales Manager,10700.0,USD,Florida,11 - 20 years,NaN
15447,2019-04-26 16:38:56,45-54,Healthcare,Director,10800.0,USD,"Fort Lauderdale, Florida, USA",11 - 20 years,NaN
13367,2019-04-26 12:36:33,45-54,Education,Adjunct instructor,10800.0,USD,Philadelphia,8 - 10 years,NaN
19713,2019-04-27 19:15:40,25-34,Public Libraries,Library Assistant,11000.0,USD,"Raleigh, NC, USA",8 - 10 years,Part-time
7432,2019-04-24 14:46:52,25-34,LIBRARY,Library Page,11000.0,USD,"Seattle, Washington, United States",11 - 20 years,I shelve books and help set up meeting rooms
27877,2019-05-10 15:10:06,25-34,tech,Recruiter,11200.0,USD,"San Francisco, CA",2 - 4 years,NaN
12843,2019-04-25 21:22:18,35-44,Public relations,Media relations manager,11500.0,USD,Chicago/IL,11 - 20 years,NaN
17689,2019-04-26 23:06:34,25-34,Defense,Computer Scientist,11600.0,USD,Maryland,5-7 years,NaN
17664,2019-04-26 23:00:17,25-34,Defense,Computer Scientist,11600.0,USD,Maryland,5-7 years,NaN
19069,2019-04-27 10:15:27,25-34,Software,Software Developer,11700.0,USD,NaN,2 - 4 years,NaN
19840,2019-04-27 21:19:42,25-34,Education,Instructional assistant,12000.0,USD,NaN,2 - 4 years,Special education
15883,2019-04-26 17:34:53,65 or over,Education,Adjunct,12000.0,USD,"Tyler, TX USA",5-7 years,Community College part time instructor
25663,2019-05-01 11:05:02,18-24,NaN,food,12000.0,USD,NaN,1 year or less,NaN
24098,2019-04-30 09:50:04,65 or over,Federal,Field representative,12000.0,USD,"Parkersburg, WV Wood",41 years or more,NaN
29769,2019-05-19 09:27:14,18-24,Hotek,Maid,12000.0,USD,US,1 year or less,NaN
20773,2019-04-29 01:02:35,under 18,education,student,12000.0,USD,NaN,1 year or less,Highschool student
10481,2019-04-24 22:12:22,25-34,Marketing,Content Writer,12000.0,USD,Indianapolis IN United States,5-7 years,NaN
25596,2019-05-01 09:16:43,35-44,Food,Prep cook,12000.0,USD,"Lakewood, Wa, USA",5-7 years,NaN
7695,2019-04-24 15:04:56,25-34,Museums,Museum services lead,12000.0,USD,Seattle,2 - 4 years,"Customer service, admissions, shop staff, and ..."
29879,2019-05-20 23:43:26,55-64,Attorney,Attorneu,12000.0,USD,"Harrisburg, pa",21 - 30 years,NaN
24315,2019-04-30 11:28:10,18-24,Veterinary,Vet tech,12000.0,USD,"South Elgin, il, usa",2 - 4 years,On the job trained
2293,2019-04-24 12:36:16,25-34,Retail,Fitter,12000.0,USD,Pittsburgh PA,8 - 10 years,I work at a specialty bra store and perform br...
5777,2019-04-25 00:28:32,18-24,Writing and marketing,freelance writer,12000.0,USD,"Minneapolis, MN, US",1 year or less,"I work part-time freelance, about 20-25 hours ..."
2764,2019-04-24 12:52:50,18-24,Biomedical Engineering,Research Assistant,12000.0,USD,"Gainesville, FL, USA",1 year or less,NaN
...,...,...,...,...,...,...,...,...,...
28638,2019-05-10 22:53:50,45-54,Finance,Nat’l sales mgr,750000.0,USD,Atlanta ga,21 - 30 years,NaN
30859,2019-06-25 14:40:37,45-54,Tech,Senior Product Manager,750000.0,USD,New York,21 - 30 years,NaN
17751,2019-04-26 23:20:48,35-44,Law,Partner,750000.0,USD,Dallas,11 - 20 years,NaN
22110,2019-04-29 13:48:30,25-34,Telecommunications Association,Communications Manager,750000.0,USD,"Washington, DC",8 - 10 years,NaN
16737,2019-04-26 19:44:58,55-64,Utilities,VP,750000.0,USD,"Palm Beach, FL",21 - 30 years,Finance
3538,2019-04-24 13:23:21,35-44,Project Management/Consulting,Operational Change Management Communications M...,750000.0,USD,OKC/OK/USA,11 - 20 years,NaN
22499,2019-04-29 15:29:35,25-34,Photography,Photographer,750000.0,USD,"Los Angeles, CA, USA",5-7 years,NaN
21081,2019-04-29 08:56:57,35-44,Aero Space,Sr Mechincal Designer,750000.0,USD,"St paul, mn",11 - 20 years,NaN
28824,2019-05-11 09:33:08,45-54,Consulting,Partner,750000.0,USD,"New York, NY",21 - 30 years,NaN
15768,2019-04-26 17:22:34,35-44,Telecom,Director,760000.0,USD,Mountain View,21 - 30 years,NaN
25827,2019-05-01 16:46:45,45-54,Finance,Managing Director,800000.0,USD,"Houston, TX, USA",21 - 30 years,NaN
15503,2019-04-26 16:45:13,25-34,Finance,CSO,800000.0,USD,Greater LA / CA / USA,11 - 20 years,NaN
20854,2019-04-29 08:14:40,55-64,manufacturing,ceo,800000.0,USD,Seattle,21 - 30 years,NaN
18472,2019-04-27 02:58:14,45-54,Legal,Partner at a private law firm,800000.0,USD,"San Francisco, CA USA",21 - 30 years,Attorney
14050,2019-04-26 13:40:20,35-44,Medicicine,Neurosurgeon,800000.0,USD,Cibolo TX USA,5-7 years,NaN
16439,2019-04-26 18:59:41,45-54,Government,Lobbyist,800000.0,USD,San Francisco California USA,21 - 30 years,NaN
14224,2019-04-26 13:56:24,35-44,NaN,orthopedic surgeon,800000.0,USD,NaN,11 - 20 years,NaN
3787,2019-04-24 13:34:05,35-44,Investment banking,Managing director,800000.0,USD,Chicago il,11 - 20 years,NaN
13193,2019-04-26 09:27:37,25-34,Publishing,Associate Director,801600.0,USD,New York/NY/USA,11 - 20 years,NaN
12455,2019-04-25 16:00:02,35-44,Research,Principal research associate,820000.0,USD,"Framingham, ma",11 - 20 years,NaN
28991,2019-05-11 18:19:16,18-24,NaN,manager,850000.0,USD,"pittsburgh,pa",1 year or less,manager
17804,2019-04-26 23:35:24,35-44,Medical,Physician,850000.0,USD,"MILWAUKEE, wi",8 - 10 years,Surgeon
7427,2019-04-24 14:46:32,45-54,Law,Partner,850000.0,USD,San Diego/CA/USA,21 - 30 years,NaN
10428,2019-04-24 21:55:36,35-44,Entertainment,TV Writer/Producer,850000.0,USD,"Los Angeles, CA, USA",8 - 10 years,I’m a TV writer/producer in an overall deal at...
16599,2019-04-26 19:25:50,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years,NaN
16614,2019-04-26 19:27:33,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years,NaN
16609,2019-04-26 19:27:12,45-54,CPG,Pres,875000.0,USD,Los Angeles CA,31 - 40 years,NaN
20017,2019-04-28 00:25:24,45-54,medicine,radiologist,900000.0,USD,"illinois, USA",11 - 20 years,NaN
11588,2019-04-25 09:09:37,35-44,Highly-engineered Industrial,"Business Systems Analyst, Senior",920000.0,USD,"Cincinanti, OH USA",11 - 20 years,NaN
18102,2019-04-27 01:00:54,55-64,Architecture,Senior Vice President,990000.0,USD,Cleveland/Ohio/USA,5-7 years,Planning & Design