# Data Processing: Raw to Internediate 

Data Source: [Ask A Manager salary survey 2019](https://docs.google.com/spreadsheets/d/1rGCKXIKt-7l5gX06NAwO3pjqEHh-oPXtB8ihkp0vGWo/edit#gid=382484678)

#### Load Libraries

In [73]:
# import packages
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re

# import os
# import sys
# data_dir = os.path.join(os.getcwd(), '..', 'data')
# sys.path.append(data_dir)

In [74]:
# how do I avoid writing this entire path out?
# first row does not have useful information so will skip 
aam_salary_raw = pd.read_csv('~/coding_projects/python_projects/flatiron_school/projects/aam_salary/data/01_raw/aam_salary_raw.csv', 
                            skiprows=1)

In [75]:
aam_salary_raw.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title', 'What is your annual salary?',
       'Please indicate the currency',
       'Where are you located? (City/state/country)',
       'How many years of post-college professional work experience do you have?',
       'If your job title needs additional context, please clarify here:',
       'If "Other," please indicate the currency here: '],
      dtype='object')

#### Rename all columns to take out spaces

In [76]:
aam_salary_raw.head()
aam_salary_raw.rename(columns={"Timestamp": "timestamp", "How old are you?": "age", 
                               "What industry do you work in?": "industry", "Job title": "job_title", 
                              "What is your annual salary?": "annual_salary", 
                               "Please indicate the currency": "currency", 
                              "Where are you located? (City/state/country)": "location", 
                              "How many years of post-college professional work experience do you have?": "work_years", 
                              "If your job title needs additional context, please clarify here:" : "notes", 
                              "If \"Other,\" please indicate the currency here: ": "other_currency"}, 
                     inplace=True)

#### View the datatype of each variable

In [77]:
aam_salary_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30995 entries, 0 to 30994
Data columns (total 10 columns):
timestamp         30995 non-null object
age               30995 non-null object
industry          30171 non-null object
job_title         30993 non-null object
annual_salary     30992 non-null object
currency          30995 non-null object
location          29500 non-null object
work_years        30995 non-null object
notes             7004 non-null object
other_currency    236 non-null object
dtypes: object(10)
memory usage: 2.4+ MB

In [78]:
aam_salary_raw.head()

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes,other_currency
0,4/24/2019 11:43:21,35-44,Government,Talent Management Asst. Director,75000,USD,"Nashville, TN",11 - 20 years,NaN,NaN
1,4/24/2019 11:43:26,25-34,Environmental nonprofit,Operations Director,"65,000",USD,"Madison, Wi",8 - 10 years,NaN,NaN
2,4/24/2019 11:43:27,18-24,Market Research,Market Research Assistant,"36,330",USD,"Las Vegas, NV",2 - 4 years,NaN,NaN
3,4/24/2019 11:43:27,25-34,Biotechnology,Senior Scientist,34600,GBP,"Cardiff, UK",5-7 years,NaN,NaN
4,4/24/2019 11:43:29,25-34,Healthcare,Social worker (embedded in primary care),55000,USD,"Southeast Michigan, USA",5-7 years,NaN,NaN

In [79]:
# change timestamp from object to datetime
aam_salary_raw.timestamp = pd.to_datetime(aam_salary_raw.timestamp)

In [80]:
# erase all commas & dollar signs
#aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace(',', '')
#aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace('$', '')
#aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace(' ', '')

In [92]:
new_sal = []
for salary in aam_salary_raw.annual_salary:
    sal_int = re.sub(r"\D+", '', salary)
    new_sal.append(sal_int)

aam_salary_raw.annual_salary = new_sal

TypeError: expected string or bytes-like object

In [93]:
len(new_sal)

17054