# Data Processing: Raw to Intermediate 

Data Source: [Ask A Manager salary survey 2019](https://docs.google.com/spreadsheets/d/1rGCKXIKt-7l5gX06NAwO3pjqEHh-oPXtB8ihkp0vGWo/edit#gid=382484678)

#### Load Libraries

In [45]:
# import packages
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import re
import pdb

# import os
# import sys
# data_dir = os.path.join(os.getcwd(), '..', 'data')
# sys.path.append(data_dir)

In [46]:
# how do I avoid writing this entire path out?
# first row does not have useful information so will skip 
aam_salary_raw = pd.read_csv('../data/01_raw/aam_salary_raw.csv', 
                            skiprows=1)

In [47]:
aam_salary_raw.columns

Index(['Timestamp', 'How old are you?', 'What industry do you work in?',
       'Job title', 'What is your annual salary?',
       'Please indicate the currency',
       'Where are you located? (City/state/country)',
       'How many years of post-college professional work experience do you have?',
       'If your job title needs additional context, please clarify here:',
       'If "Other," please indicate the currency here: '],
      dtype='object')

#### Rename all columns to take out spaces

In [48]:
aam_salary_raw.head()
aam_salary_raw.rename(columns={"Timestamp": "timestamp", "How old are you?": "age", 
                               "What industry do you work in?": "industry", "Job title": "job_title", 
                              "What is your annual salary?": "annual_salary", 
                               "Please indicate the currency": "currency", 
                              "Where are you located? (City/state/country)": "location", 
                              "How many years of post-college professional work experience do you have?": "work_years", 
                              "If your job title needs additional context, please clarify here:" : "notes", 
                              "If \"Other,\" please indicate the currency here: ": "other_currency"}, 
                     inplace=True)

#### View the datatype of each variable

In [49]:
aam_salary_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30995 entries, 0 to 30994
Data columns (total 10 columns):
timestamp         30995 non-null object
age               30995 non-null object
industry          30171 non-null object
job_title         30993 non-null object
annual_salary     30992 non-null object
currency          30995 non-null object
location          29500 non-null object
work_years        30995 non-null object
notes             7004 non-null object
other_currency    236 non-null object
dtypes: object(10)
memory usage: 2.4+ MB

In [50]:
# change timestamp from object to datetime
aam_salary_raw.timestamp = pd.to_datetime(aam_salary_raw.timestamp)

In [51]:
# erase all commas & dollar signs and spaces
aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace(',', '')
aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace('$', '')
aam_salary_raw.annual_salary = aam_salary_raw.annual_salary.str.replace(' ', '')

In [52]:
# filter only numbers for the annual_salary variable 
new_sal = []
for salary in aam_salary_raw.annual_salary:
    new_sal.append(re.findall(r'\d+', str(salary)))
aam_salary_raw.annual_salary = new_sal

In [53]:
# the number of entries that have multiple entries 
count = 0
for item in new_sal:
    if len(item) > 1:
        count += 1
print(count)

853

In [54]:
# take the first value from the brakets
#aam_salary_raw['annual_salary'] = aam_salary_raw['annual_salary'].str.get(0)
# change datatype to numeric
aam_salary_raw.annual_salary = pd.to_numeric(aam_salary_raw.annual_salary)

In [77]:
aam_salary_raw.head()

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes,other_currency
0,2019-04-24 11:43:21,35-44,Government,Talent Management Asst. Director,75000.0,USD,"Nashville, TN",11 - 20 years,NaN,NaN
1,2019-04-24 11:43:26,25-34,Environmental nonprofit,Operations Director,65000.0,USD,"Madison, Wi",8 - 10 years,NaN,NaN
2,2019-04-24 11:43:27,18-24,Market Research,Market Research Assistant,36330.0,USD,"Las Vegas, NV",2 - 4 years,NaN,NaN
3,2019-04-24 11:43:27,25-34,Biotechnology,Senior Scientist,34600.0,GBP,"Cardiff, UK",5-7 years,NaN,NaN
4,2019-04-24 11:43:29,25-34,Healthcare,Social worker (embedded in primary care),55000.0,USD,"Southeast Michigan, USA",5-7 years,NaN,NaN

In [98]:
aam_droprows = aam_salary_raw.loc[aam_salary_raw['annual_salary'] < 1000]

,timestamp,age,industry,job_title,annual_salary,currency,location,work_years,notes,other_currency
111,2019-04-24 11:45:10,45-54,Social Work,Lead Facilitator,35.0,USD,"Denison, TX USA",21 - 30 years,NaN,NaN
118,2019-04-24 11:45:16,35-44,Civil Service,Human Service Specialist 4,59.0,USD,Jersey City/New Jersey/USA,11 - 20 years,"Supervisor, first level of manangement.",NaN
136,2019-04-24 11:45:33,35-44,Veterinary medicine,Veterinary technician,18.0,USD,"Pittsburgh, Pa, USA",11 - 20 years,Specialty medicine within a referral hospital,NaN
157,2019-04-24 11:46:04,25-34,Manufacturing,Human Resources Generalist/Payroll Admin,60.0,USD,"Tampa, FL",5-7 years,"Additional hats as required for safety, minist...",Includes monthly incentive pay which can doubl...
191,2019-04-24 11:46:42,55-64,Consulting,Vice President,175.0,USD,"Philadelphia, PA",31 - 40 years,NaN,NaN
239,2019-04-24 11:47:40,65 or over,IT,Web developer,68.0,USD,Los Angeles CA,41 years or more,NaN,NaN
244,2019-04-24 11:47:46,35-44,Museum Exhibit Design,Dir Exhibit Experience,90.0,USD,"Queens, NY",11 - 20 years,NaN,NaN
258,2019-04-24 11:47:54,25-34,Non profit legal services,Social worker,65.0,USD,Nyc,8 - 10 years,NaN,NaN
302,2019-04-24 11:48:55,55-64,Publishing,Designer,40.0,USD,"Oklahoma City, OK",31 - 40 years,NaN,NaN
306,2019-04-24 11:48:58,35-44,BioTech,Sr. Associate Training & Development,80.0,USD,"Los Angles, CA, USA",11 - 20 years,NaN,NaN
333,2019-04-24 11:49:18,25-34,Federal government (Canada),Librarian,76.0,CAD,Ottawa,5-7 years,NaN,NaN
357,2019-04-24 11:49:41,55-64,Retail,Hardware Department Manager,10.0,USD,"Peru, IL USA",31 - 40 years,There's only one full-time employee in each de...,NaN
417,2019-04-24 11:50:55,25-34,Childcare (corporate office though),Engagement Coordinator,22.0,USD,Boston area,2 - 4 years,basically an office manager/in-office event pl...,NaN
420,2019-04-24 11:50:56,25-34,Nonprofit Consulting,Director,128.0,USD,Washington DC,8 - 10 years,NaN,NaN
467,2019-04-24 11:51:52,35-44,Biotech,QA Specialist,75.0,USD,"Gaithersburg, MD",11 - 20 years,NaN,NaN
469,2019-04-24 11:51:56,35-44,IT,Senior Engineer,30.0,USD,Eastern Europe,11 - 20 years,computer programmer,NaN
484,2019-04-24 11:52:20,35-44,Financial,Financial Reporting & Consolidations Mgr,105.0,USD,Raleigh NC US,11 - 20 years,NaN,NaN
498,2019-04-24 11:52:34,35-44,Legal,Paralegal,60.0,USD,"Chicago, IL",11 - 20 years,NaN,NaN
501,2019-04-24 11:52:36,35-44,Hospitality,Director of sales,35.0,USD,Southern USA,5-7 years,NaN,NaN
555,2019-04-24 11:53:40,35-44,Advertising/sales-LGBTQ focused,Operations/Production Manager,50.0,USD,"Atlanta, GA, USA",11 - 20 years,Formerly production manager for print director...,NaN
655,2019-04-24 11:55:46,25-34,Academia,Library Assistant 3,35.0,USD,"Reno, NV, USA",2 - 4 years,Highest tier of lower series in state classifi...,NaN
664,2019-04-24 11:55:54,25-34,Public Library,Youth Services Librarian I,47.0,USD,Prince William County VA (right outside DC),2 - 4 years,NaN,NaN
673,2019-04-24 11:56:00,25-34,Fitness,Coach,25.0,USD,"Chicago, IL, USA",5-7 years,I work in a CrossFit gym as a part-time coach,NaN
696,2019-04-24 11:56:36,45-54,Legal,Paralegal,42.0,USD,Spartanburg/SC/USA,21 - 30 years,Personal injury,NaN
780,2019-04-24 11:58:36,25-34,education,program specialist,56.0,USD,NaN,8 - 10 years,NaN,NaN
835,2019-04-24 11:59:41,35-44,Financial,Financial Reporting & Consolidations Mgr,105.0,USD,Raleigh NC US,11 - 20 years,NaN,NaN
867,2019-04-24 12:00:19,35-44,I do news media outreach for a university,Science Communicator,80.0,USD,"College Park, MD",11 - 20 years,NaN,NaN
898,2019-04-24 12:00:52,45-54,SURVEYING,GENERAL MANAGER,70.0,USD,"LANSING, MICHIGAN, USA",21 - 30 years,NaN,NaN
909,2019-04-24 12:01:07,45-54,Healthcare,Registered nurse,31.0,USD,"North Carolina, USA",21 - 30 years,"ICU, university hospital",NaN
951,2019-04-24 12:02:05,45-54,Wireless adjacent,Operations Director,62.0,USD,"Denver, CO",5-7 years,It's for a VERY small company,NaN
...,...,...,...,...,...,...,...,...,...,...
28859,2019-05-11 10:56:41,45-54,Architecture,Designer,80.0,USD,Boston MA,21 - 30 years,NaN,NaN
28878,2019-05-11 11:23:31,55-64,Technology Company,Contract Technical Writer,100.0,USD,"Oakland CA, USA",21 - 30 years,I work part-time for an agency that contracts ...,NaN
28924,2019-05-11 13:09:45,25-34,Healthcare,Registered Nurse,150.0,USD,"Oakland, CA",8 - 10 years,NaN,NaN
29148,2019-05-12 14:33:43,25-34,Tech,Associate Software Engineer,103.0,USD,"New York, NY",2 - 4 years,NaN,NaN
29227,2019-05-13 00:17:21,18-24,Pharma,Research associate,70.0,USD,NaN,2 - 4 years,NaN,NaN
29463,2019-05-13 18:31:57,55-64,luxury goods,exec assistant,89.0,USD,new york/new york/ USA,31 - 40 years,NaN,NaN
29660,2019-05-16 05:27:35,45-54,higher education,professor,150.0,USD,New York,21 - 30 years,NaN,New York
29726,2019-05-17 15:44:37,25-34,Customer service,Digital experience specialist,36.0,USD,"Minneapolis, MN - USA",8 - 10 years,"Basically, I handle online sales as well as tr...",NaN
29852,2019-05-20 17:39:51,35-44,Pharmaceutical Advertising,Associate/Creative Director (Copy),110.0,USD,New York City,11 - 20 years,I'm a freelancer so I get paid hourly.,NaN
29899,2019-05-21 09:43:28,35-44,Banking,Associate Director,122.0,Other,Singapore,8 - 10 years,NaN,Sgd
29924,2019-05-21 13:29:13,55-64,Healthcare,Business Development,85.0,USD,Oregon,21 - 30 years,NaN,NaN
30067,2019-05-23 18:30:59,25-34,Equipment,Parts advisor,50.0,USD,West palm beach Florida United states,2 - 4 years,NaN,NaN
30100,2019-05-24 10:46:13,35-44,Telecommuications,Project Manager,40.0,USD,Michigan,8 - 10 years,NaN,NaN
30133,2019-05-25 08:44:28,35-44,Defense Industry,Business Development Manager,160.0,USD,NaN,11 - 20 years,NaN,NaN
30224,2019-05-27 10:52:06,55-64,Higher Ed,IT Support Manager,48.0,USD,NC,11 - 20 years,NaN,NaN
30239,2019-05-27 12:43:48,55-64,tech,sys admin,70.0,USD,baltimore maryland usa,11 - 20 years,NaN,NaN
30293,2019-05-27 21:48:25,18-24,Management,Department Manager,44.0,AUD/NZD,Adelaide SA,2 - 4 years,NaN,NaN
30311,2019-05-28 00:56:21,55-64,Cnnstruction,Superintendent,80.0,USD,"New Mexico, USA",41 years or more,NaN,NaN
30356,2019-05-28 15:01:05,18-24,NaN,Business analyst/HR,64.0,USD,Lakewood/NJ/USA,5-7 years,I do two very different jobs for my company,NaN
30446,2019-05-29 12:59:12,18-24,Journalism / Media,Editorial writer,36.0,USD,"Salt Lake City, Utah, USA",2 - 4 years,NaN,NaN
30484,2019-05-30 08:35:21,35-44,Pharmaceutical,Distribution manager,20.0,EUR,Romania,11 - 20 years,NaN,NaN
30502,2019-05-30 20:17:43,25-34,Software,"Manager, Engineering",165.0,USD,"San Francisco, CA, USA",8 - 10 years,NaN,NaN
30551,2019-06-01 16:58:08,55-64,Dentistry,Dental consultant,132.0,USD,Sacramento ca,21 - 30 years,NaN,NaN
30654,2019-06-09 21:46:21,35-44,Information Technology,Sr. Dir Marketing & Business Dev.,165.0,CAD,"Toronto, Canada",11 - 20 years,NaN,NaN
30741,2019-06-18 16:15:09,35-44,Government,Senior UX Designer,76.0,CAD,"Ontario, Canada",2 - 4 years,NaN,NaN
30792,2019-06-21 08:13:35,25-34,Education,Psychologist,95.0,USD,New York city,2 - 4 years,NaN,NaN
30793,2019-06-21 08:16:31,25-34,Education,Psychologist,95.0,USD,"NY,NY",2 - 4 years,NaN,NaN
30835,2019-06-22 13:25:12,25-34,Healthcare,Bsn rn,42.0,USD,"Phoenix, Arizona",2 - 4 years,Company wide float nurse,NaN
30916,2019-07-01 16:27:03,18-24,Computer Software,People & Operations Specialist,60.0,USD,"Atlanta, GA, USA",1 year or less,NaN,NaN
30944,2019-07-05 02:20:48,25-34,Components,Program Manager,40.0,USD,NaN,8 - 10 years,NaN,NaN